{% extends "base.html" %}
{% load static %}
{% block title %}Список заказов{% endblock %}
{% block content %}
<h1>Список заказов</h1>
        {% if has_data %}
        <table class="django-table">
        <thead>
            <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Наименование</th>
            <th>Дата заказ-наряда</th>            
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
            <td>{{ order.id }}</td> 
            <td><a href="/edit/{{ order.number }}/">{{ order.number }}</a></td>                
            <td>{{ order.equipment }}</td>
            <td>{{ order.date|date:"Y-m-d" }}</tdS>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p>Нет данных</p>
        {% endif %}
<a href="{% url 'add_new' %}" class="btn">Добавить</a>
{% endblock %}