{% extends "base.html" %}
{% load static %}
{% block title %}Список заказов{% endblock %}
{% block content %}
<h1>Список заказов</h1>


        {% if has_data %}

        <form>
        <label for="status-select">Статус</label>
        <select name="status" id="status-select">
            <option value="">-- Выберите статус--</option>
            <option value="work">В работе</option>
            <option value="not_run">Выполнен, но не запущен</option>
            <option value="done">Запущен</option>
        </select>
        </form>        
        <table class="django-table" id="order_table">
        <thead>
            <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Наименование</th>
            <th>Дата заказ-наряда</th>            
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
            <td>{{ order.id }}</td> 
            <td><a href="/{{ order.number }}/edit/">{{ order.number }}</a></td>                
            <td>{{ order.equipment }}</td>
            <td>{{ order.date|date:"Y-m-d" }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p>Нет данных</p>
        {% endif %}
<a href="{% url 'add_new' %}" class="btn">Добавить</a>
<script src="{% static 'order_list/js/table_update.js' %}" defer></script>  
{% endblock %}